.App {
  text-align: center;
}

.App-logo {
  height: 80px;
}

.button {
  background-color: royalblue;
  font: inherit;
  border: 1px solid blueviolet;
  padding: 8px;
  cursor: pointer;
  color: white;
}

.red {
  color: red;
}

.green {
  color: green;
}

.bold {
  font-weight: bold;
}